[submodule "include/some"]
	path = include/some
	url = https://github.com/volumnet/some4.git
[submodule "include/mustache"]
	path = include/mustache
	url = https://github.com/bobthecow/mustache.php.git
