[submodule "include/some"]
	path = include/some
	url = https://AVS1985@bitbucket.org/volumnet/some.git
[submodule "include/mustache"]
	path = include/mustache
	url = https://github.com/bobthecow/mustache.php.git
