<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./bootstrap.php">
  <testsuites>
    <testsuite name="HTMLRenderer">
      <file>src/views/renderers/HTMLRendererTest.php</file>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">../classes</directory> 
      <directory suffix=".php">../general</directory> 
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="coverage" />
  </logging>
</phpunit>