<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  colors="true" 
  bootstrap="./bootstrap.php" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnPhpunitDeprecations="true"
>
  <coverage>
    <report>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">../classes</directory>
      <directory suffix=".php">../general</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="CheckboxDatatypeStrategy">
      <file>src/datatypes/CheckboxDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="ColorDatatypeStrategy">
      <file>src/datatypes/ColorDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="DatatypeStrategy">
      <file>src/datatypes/DatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="DateDatatypeStrategy">
      <file>src/datatypes/DateDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="DateTimeDatatypeStrategy">
      <file>src/datatypes/DateTimeDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="EmailDatatypeStrategy">
      <file>src/datatypes/EmailDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="FileDatatypeStrategy">
      <file>src/datatypes/FileDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="ImageDatatypeStrategy">
      <file>src/datatypes/ImageDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="MonthDatatypeStrategy">
      <file>src/datatypes/MonthDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="NumberDatatypeStrategy">
      <file>src/datatypes/NumberDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="TimeDatatypeStrategy">
      <file>src/datatypes/TimeDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="UrlDatatypeStrategy">
      <file>src/datatypes/UrlDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="WeekDatatypeStrategy">
      <file>src/datatypes/WeekDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="YearDatatypeStrategy">
      <file>src/datatypes/YearDatatypeStrategyTest.php</file>
    </testsuite>
    <testsuite name="Field">
      <file>src/forms-n-tables/FieldTest.php</file>
    </testsuite>
    <testsuite name="PHPErrorLogParser">
      <file>src/PHPErrorLogParserTest.php</file>
    </testsuite>
    <testsuite name="CustomField">
      <file>src/semantic/CustomFieldTest.php</file>
    </testsuite>
    <testsuite name="Dictionary">
      <file>src/semantic/DictionaryTest.php</file>
    </testsuite>
    <testsuite name="CSVSourceStrategy">
      <file>src/sources/CSVSourceStrategyTest.php</file>
    </testsuite>
    <testsuite name="DictionarySourceStrategy">
      <file>src/sources/DictionarySourceStrategyTest.php</file>
    </testsuite>
    <testsuite name="INISourceStrategy">
      <file>src/sources/INISourceStrategyTest.php</file>
    </testsuite>
    <testsuite name="PHPSourceStrategy">
      <file>src/sources/PHPSourceStrategyTest.php</file>
    </testsuite>
    <testsuite name="SQLSourceStrategy">
      <file>src/sources/SQLSourceStrategyTest.php</file>
    </testsuite>
    <testsuite name="XMLSourceStrategy">
      <file>src/sources/XMLSourceStrategyTest.php</file>
    </testsuite>
    <testsuite name="HTMLRenderer">
      <file>src/views/renderers/HTMLRendererTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
