@import './variables.scss';
@import '@fortawesome/fontawesome-free/scss/functions'; 
@import '@fortawesome/fontawesome-free/scss/variables';
@import '@fortawesome/fontawesome-free/scss/mixins'; 
@import 'bootstrap/scss/functions.scss';
@import 'bootstrap/scss/variables.scss';
@import 'bootstrap/scss/mixins.scss';
@import 'cms/_shared/mixins/fa.scss';
@import 'cms/_shared/mixins/std-horizontal-menu.scss';
@import 'cms/_shared/mixins/center-alignment.scss';
@import 'cms/_shared/mixins/size.scss';
@import 'cms/_shared/mixins/number-field-as-text.scss';
@import 'cms/_shared/mixins/rotate.scss';
@import 'cms/_shared/mixins/filetype.scss';
@import 'cms/_shared/mixins/social-colors.scss';
@import 'cms/_shared/mixins/social-icons.scss';
@import 'cms/_shared/mixins/viewports.scss';

@import './mixins/top-menu-trigger.scss';
// @import './mixins/sidebar.scss';
// @import './mixins/std-list.scss';
// @import './mixins/header-icon.scss';
// @import './mixins/cart-icon.scss';
// @import './mixins/left-block.scss';

$_g: $grid-gutter-width;
$_g2: $grid-gutter-width / 2;
$imagesDir: '/files/cms/common/image/design/';