$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-decoration: none;
$link-hover-decoration: underline;
$font-size-base: 0.875rem;
$line-height-base: 1.42;
$input-height: 30px;

$h1-font-size: 38px;
$headings-margin-bottom: 1.5rem;

$fa-font-path: '/vendor/volumnet/raas.kernel/public/fonts';
$fa-major-version: '6';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
); // Используется также в viewports.scss

$referenceLayout: 'xxl';
