$blue: #0088cc;
$red: #b94a48;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-decoration: none;
$link-hover-decoration: underline;
$font-size-base: 0.875rem;
$line-height-base: 1.42;
$input-height: 30px;

$h1-font-size: 38px;
$headings-margin-bottom: 1.5rem;

$fa-font-path: '/vendor/volumnet/raas.kernel/public/fonts';
$fa-major-version: '6';