@use 'fa-mixin' as *;

/**
 * Триггер верхних выпадающих меню
 * @param $menu Текущее меню для триггера
 */
@mixin top-menu-trigger($menu) {
    line-height: 1;
    display: flex;
    height: 100%;
    align-items: center;
    background: none;
    color: #999;
    border: none;
    padding: .65rem 1rem;
    &:hover, #{$menu}_active & {
        color: white;
    }
    #{$menu}_active & {
        background: black;
    }
    &:after {
        @include fa('caret-down');
        font-size: 10px;
        margin-left: .25rem;
        #{$menu}_active & {
            transform: rotate(180deg);
        }
    }
}