ul
  li
    a
      &.jsTreePlus, &.jsTreeMinus
          square(16px)
          position absolute 
          background-position 0 0
          background-repeat no-repeat
          top 4px 
          left -19px 
      &.jsTreePlus
        background-image url('img/bullet_toggle_plus.png') 
      &.jsTreeMinus
        background-image url('img/bullet_toggle_minus.png') 

    li
      a
        &.jsTreePlus, &.jsTreeMinus 
          top 2px 
          left -19px