.menu-left
  li
    &, &.active > a 
      color black
  
  > ul
    margin 0px 
    padding 0px 
    ul
      margin 0 
      padding-left 22px 
    > li
      margin-bottom 5px 
      padding 5px 10px 
      border-radius 5px
      gradient-vertical($gray-lighter, white)
  
  ul 
    li
      margin 0px 
      display block 
      position relative 
      font-size 16px 
      line-height 24px 
      li
        font-size 14px 
        line-height 22px 
        li
          font-size 12px 
          line-height 20px 
  