.raas-autotext 
  display block
  position absolute
  box-sizing content-box
  border 1px solid $gray-lighter
  position absolute
  border-radius 5px
  top 25px
  left 0
  max-height 200px
  z-index 999
  overflow hidden
  overflow-y scroll
  background white
  margin 0
  padding 0
  
  &__description 
    display block
    font-size 10px
    color silver

  li 
    display block
    clear both
    margin 0
    padding 0
    border-bottom 1px solid $gray-lighter
    &:last-child 
      border-bottom none

    a 
      display block
      padding 10px
      font-size 12px
      color black
      text-decoration none
      &:hover 
        background $gray-lighter

    img 
      display block
      float left
      margin 0 10px 10px 0
      max-height 32px
      max-width 32px





